body {
	margin      : 95 ;
	padding     : 95 ;
	font-family : "helvetica", arial;
}

#MainUI {
	position        : fixed;
	left            : 0    ;
	top             : 0    ;
	height          : 100% ;
	width           : 100% ;
	background-color: white;
	overflow-y      : auto ;
}

.btn.disabled {
  cursor: auto;
}


/* settings for double panel pages */
#mainContainer_ {
	font-size: 0;
}

.half-box-left {
  float: left;
  width: 580px;
  margin-top: 10px;
  vertical-align: top;
  font-size: 14px;
}
.half-box-right {
  margin-top: 10px;
  float: right;
  width: 600px;
  vertical-align: top;
  font-size: 14px;
}

/* inline load button */
#infileUploadWidget_ {
  display: inline-block;
}

/* inline equation editors */
.equation-editor {
  display: inline;
  width: 90%;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* right home panel stuff */
#outputTextArea_ {
  height: 400px;
  margin-bottom: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 9pt;
}

#HomeRight {
  margin-top: 0px;
}

#title_ {
  text-align: center;
}

/* login page and login status message */
.Wt-auth-login {
  margin: auto;
  width: 550px;
}

#loginMessageContainer_ {
  margin-bottom: -30px;
  text-align: right;
}

/* spin boxes */
.spin-box {
  display: inline;
  width: 15%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.radio-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
