body{
	margin      : 95 ;
	padding     : 95 ;
	font-family : "helvetica", arial;
}

#root_
{
	position        : fixed;
	left            : 0    ;
	top             : 0    ;
	height          : 100% ;
	width           : 100% ;
	background-color: white;
	overflow-y      : auto ;
}

.btn.disabled {
  cursor: auto;
}


/* settings for double panel pages */
#mainContainer_ {
	font-size: 0;
}

.half-box {
	display: inline-block;
	width: 47.5%;
	font-size: 14px;
  margin-top: 10px;
  vertical-align: top;
}
.middle-box {
  display: inline-block;
  width: 5%;
  content: " ";
}

/* inline load button */
#infileUploadWidget_ {
  display: inline-block;
}

/* inline labels */
#xLabel_, #yLabel_ {
  display: inline-block;
  width: 5%;
  font-size: 14px;
  margin-bottom: 10px; 
}

/* inline equation editors */
.equation-editor {
  display: inline;
  width: 90%;
  font-size: 14px;
  margin-bottom: 10px;
}

/* right home panel stuff */
#outputTextArea_ {
  height: 400px;
  margin-bottom: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 9pt;
}

#HomeRight {
  margin-top: 0px;
}